'.source.mojo.html':
  'editor':
    'commentStart': '<%#'
    'commentEnd': '%>'
    'completions': [
      'app'
      'content'
      'content_for'
      'dumper'
      'extends'
      'include'
      'flash'
      'layout'
      'layout'
      'memorize'
      'param'
      'session'
      'stash'
      'url_for'
      'title'
      'base_tag'
      'check_box'
      'file_field'
      'form_for'
      'hidden_field'
      'input_tag'
      'javascript'
      'link_to'
      'password_field'
      'radio_button'
      'select_field'
      'stylesheet'
      'submit_button'
      'tag'
      'text_area'
      'text_field'
    ]
