'fileTypes': [
  'html.ep'
]
'name': 'Mojolicious Embedded Perl'
'injections':
  'source.mojo.html':
    'patterns': [
      {
        'name': 'source.mojo.embedded'
        'begin': '(\\<%={,2})'
        'beginCaptures': {
          '1': { 'name': 'punctuation.section.embedded.mojo' }
        }
        'patterns': [
          { 'include': '#mojo_support' }
          { 'include': 'source.perl' }
        ]
        'end': '(=?%\\>)'
        'endCaptures': {
          '1': { 'name': 'punctuation.section.embedded.mojo' }
        }
      }
    ]
'patterns': [
  {
    'name': 'comment.line.mojo'
    'match': '(%#(.+))$'
  }
  {
    'name': 'comment.line.mojo'
    'match': '(\\<%#(.+))\\%>'
  }
  {
    'name': 'source.mojo.block'
    'begin': '\\s*(\<?%=)\\s*(javascript)\\s*(begin)\\s*(%\>)?'
    'beginCaptures':
      '1':
        'name': 'punctuation.section.embedded.mojo'
      '2':
        'name': 'support.function.mojo'
      '3':
        'name': 'entity.name.function.mojo'
      '4':
        'name': 'punctuation.section.embedded.mojo'
    'end': '\\s*(\<?%=?)\\s*(end)\\s*(%\>)?'
    'endCaptures':
      '1':
        'name': 'punctuation.section.embedded.mojo'
      '2':
        'name': 'entity.name.function.mojo'
      '3':
        'name': 'punctuation.section.embedded.mojo'
    'patterns': [
      { 'include': '$self' }
      { 'include': 'source.js' }
    ]
  }
  {
    'name': 'source.mojo.block'
    'begin': '\\s*(\\<?%=)\\s+(stylesheet)\\s+(begin)\\s*(%\\>)?'
    'beginCaptures': {
      '1': { 'name': 'punctuation.section.embedded.mojo' }
      '2': { 'name': 'support.function.mojo' }
      '3': { 'name': 'entity.name.function.mojo' }
      '4': { 'name': 'punctuation.section.embedded.mojo' }
    }
    'end': '\\s*(\\<?%=?)\\s*(end)\\s*(%\\>)?'
    'endCaptures': {
      '1': { 'name': 'punctuation.section.embedded.mojo' }
      '2': { 'name': 'entity.name.function.mojo' }
      '3': { 'name': 'punctuation.section.embedded.mojo' }
    }
    'patterns': [
      { 'include': '$self' }
      { 'include': 'source.css' }
    ]
  }
  {
    'name': 'source.mojo.embedded'
    'begin': '(\\<%={,2})'
    'beginCaptures': {
      '1': { 'name': 'punctuation.section.embedded.mojo' }
    }
    'patterns': [
      { 'include': '#mojo_support' }
      { 'include': 'source.perl' }
    ]
    'end': '(=?%\\>)'
    'endCaptures': {
      '1': { 'name': 'punctuation.section.embedded.mojo' }
    }
  }
  {
    'name': 'source.mojo.embedded.single'
    'begin': '\\s*(%={,2})'
    'beginCaptures': {
      '1': { 'name': 'punctuation.section.embedded.mojo' }
    }
    'patterns': [
      { 'include': '#mojo_invalid' }
      { 'include': '#mojo_support' }
      { 'include': 'source.perl' }
    ]
    'end': '$'
  }
  {
    'include' : 'text.html.basic'
  }
]
'repository':
  'mojo_support':
    'patterns': [
      {
        'name': 'support.function.mojo'
        'match': ' \\b(app|content|content_for|dumper|extends|flash|include|layout|memorize|param|session|stash|url_for|title|base_tag|check_box|file_field|form_for|hidden_field|input_tag|javascript|link_to|password_field|radio_button|select_field|stylesheet|submit_button|tag|text_area|text_field)\\b'
      }
      {
        'name': 'entity.name.function.mojo'
        'match': '\\b(begin|end)\\b'
      }
    ]
  'mojo_invalid':
    'patterns': [
      {
        'name': 'invalid.punctuation.mojo'
        'match': '=?%\\>'
      }
    ]
'scopeName': 'source.mojo.html'
